[Unit]
Description=Trigger Sync on server ready service
Requires=sync-on-server-ready.service

[Service]
Type=oneshot
ExecStart=/usr/bin/true
RemainAfterExit=true
