[Unit]
Description=Sync services when server name is reachable

[Service]
Type=notify
ExecStart=/usr/bin/sync-on-server-ready
TimeoutStartSec=0

[Install]
WantedBy=pre-sync-on-server-ready.service
